@use 'src/abstracts/colors';

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 2px solid #FFFFFF;
  transition: border-color 0.5s ease;

  &.inactive {
    filter: grayscale(100%)
  }
}

.inactive {
  filter: grayscale(100%)
}

.ready {
  border: 2px solid colors.$accent;
}

.photo {
  height: 100%;
  width: 100%;

  border-radius: 50%;
  vertical-align: middle;
  object-fit: fill;
}

.readyDotHolder {
  position: relative;

  .readyDot {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);

    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: colors.$accent;
  }
}
