# backend
GOOGLE_CLIENT_ID=<obtained from google console>
GOOGLE_SECRET=<obtained from google console>
JWT_SECRET=<any random and secure string>
DATABASE_URL=mysql://root:retro@localhost:3307/retro
DATABASE_HOST=localhost
DATABASE_PORT=3307
DATABASE_USER=root
DATABASE_PASSWORD=retro
DATABASE_NAME=retro
CALLBACK_URL=http://localhost:8080/loading

# frontend
RETRO_WEB_API_URL=http://localhost:3000/api/rest/v1/
RETRO_WEB_SOCKET_URL=http://localhost:3001

# e2e
E2E_FIRST_LOGIN=
E2E_FIRST_PASSWORD=
E2E_FIRST_OTP_SECRET=
E2E_SECOND_LOGIN=
E2E_SECOND_PASSWORD=
E2E_SECOND_OTP_SECRET=
