# backend
GOOGLE_CLIENT_ID=<obtained from google console>
GOOGLE_SECRET=<obtained from google console>
JWT_SECRET=<any random and secure string>
DATABASE_URL=mysql://root:retro@localhost:3307/retro
CALLBACK_URL=http://localhost:8080/loading

# frontend
RETRO_API_URL=http://localhost:3000/api/rest/v1/
RETRO_SOCKET_URL=http://localhost:3001
