@use 'src/abstracts/assets';
@use 'src/abstracts/colors';

.toolbox {
    position: absolute;

    bottom: 20px;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;
}

.timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    margin-top: -4px;

    background-color: colors.$primary-color;
    padding: 4px 8px 6px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .quickAdd {
        width: 38px !important;
        height: 38px !important;
    }
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include assets.scrollbar;

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
    }
}

.content {
    flex: 1;
    flex-direction: row;
}
