@use 'src/abstracts/assets';
@use 'src/abstracts/colors';

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include assets.scrollbar;
}

.content {
    flex: 1;
    flex-direction: row;
}
