@use "abstracts/fonts";

* {
  box-sizing: border-box;

  font-family: fonts.$font-paragraph;
  font-weight: 500;
  font-size: 16px;
}


:root {
  --toastify-color-success: #73BDA8;
  --toastify-color-error: #DC6E47;
  --toastify-text-color-success: black;
  --toastify-text-color-error: black;
}
