.cardWrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 8px;

    min-width: 300px;
    max-width: 300px;

    padding: 16px 8px;
}

.columnHeaderWrapper {
    display: flex;
    align-items: flex-end;

    margin-bottom: 16px;
}
